.ResourcePageTile {
    width: 280px;
    height: 280px;
    background: #FFFFFF;
    box-shadow: 4px 4px 15px rgba(114, 141, 149, 0.15);
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.banner {
    width: 280px;
    height: 118px;
    object-fit: cover;
}

.title {
    position: absolute;
    top: 127px;
    padding: 0 14px;
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: black;
}

.info {
    position: absolute;
    padding-right: 10px;
    width: 237px;
    height:99px;
    left: 22px;
    top: 158px;
}

.info-text {
    margin: 0;
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    color: #728D95;
}

.icon {
    position: absolute;
    bottom: 17.5px;
    right: 17.5px;
}

@media only screen and (max-width: 768px) {

    .ResourcePageTile {
        width: 150px;
        height: 125px;
        border-radius: 10px;
    }

    .banner {
        width: 150px;
        height: 57px;
    }

    .title {
        top: 60px;
        padding: 0 6px;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.05em;
        color: #0D2020
    }

    .info {
        display:none;
    }

    .icon {
        margin: 0;
        width: 12px;
        height: 12px;
        right: 6px;
        bottom: 6px;
    }
  }