.ResourcePageTile{
  background: #FFFFFF;
  border-radius: 30px;
  box-shadow: 4px 4px 15px rgba(114, 141, 149, 0.15);
  height: 280px;
  overflow: hidden;
  position: relative;
  width: 280px;
}

.banner {
  height: 118px;
  object-fit: cover;
  width: 280px;
}

.title {
  color: black;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  padding: 0 14px;
  position: absolute;
  text-transform: uppercase;
  top: 127px;
}

.info {
  height:99px;
  left: 22px;
  padding-right: 10px;
  position: absolute;
  top: 158px;
  width: 237px;
}

.info-text {
  color: #728D95;
  font-family: Poppins;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95%;
  max-height: 100%;
}

.icon {
  bottom: 17.5px;
  position: absolute;
  right: 17.5px;
}

@media only screen and (max-width: 768px) {
    .ResourcePageTile {
      border-radius: 10px;
      height: 125px;
      width: 150px;
    }

    .banner {
      height: 57px;
      width: 150px;
    }

    .title {
      color: #0D2020;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.05em;
      line-height: 21px;
      padding: 0 6px;
      top: 60px;
    }

    .info {
      display:none;
    }

    .icon {
      bottom: 6px;
      height: 12px;
      margin: 0;
      right: 6px;
      width: 12px;
    }
}
<<<<<<< HEAD
=======
.ResourcePageTile {
  border: solid pink 2px;
} */
>>>>>>> 571cb15d7bb8e98bf6c44e0b0e71a916beb598b0
