
.ResourcePageTileGroup {
    padding-left: 25px;
}

.ResourcePageTileGroup h1 {
    border-bottom: 5px solid black;
    min-width: 400px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.tile-group {
    display: flex;
    flex-wrap: wrap;
    margin-left: -40px;
}

.tiles {
    border: 1px solid #4A6E82;
    width: 280px;
    height: 280px;
    background: #FFFFFF;
    box-shadow: 4px 4px 15px rgba(114, 141, 149, 0.15);
    border-radius: 30px;
    margin: 40px;
}

@media only screen and (max-width: 768px) {
    .ResourcePageTileGroup h1 {
        border-bottom: 5px solid black;
        min-width: 200px;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    .tile-group {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
    }

    .tiles {
        border: 1px solid #4A6E82;
        width: 150px;
        height: 125px;
        background: #FFFFFF;
        box-shadow: 4px 4px 15px rgba(114, 141, 149, 0.15);
        border-radius: 10px;
        margin: 10px;
    }

    .tiles p {
        margin-bottom: 2px;
    }
}
