.tile-link:hover{
    text-decoration: none;
}

.tile:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

  .fade-out-container-text {
    position: relative;
    display: inline-block;
  }
  
  .fade-out-container-text::after {
    content: "";
    position: absolute;
    bottom: 9%;
    right: 13%;
    width: 50%; 
    height: 1.5em; 
    background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    pointer-events: none; 
  }

  @media screen and (max-width: 770px) {
    .fade-out-container-text::after {
        height: 1.3em; 
        bottom: 0%;
        right: 0%;
        width: 100%;
    }
  }

  .fade-out-container-title {
    position: relative;
    display: inline-block;
    margin-bottom: 2px;
  }
  
  .fade-out-container-title::after {
    content: "";
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 100%; 
    height: 1.5em; 
    background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    pointer-events: none; 
  }

  @media screen and (max-width: 770px) {
    .fade-out-container-title::after {
        height: 1.3em; 
        bottom: 0%;
        right: 0%;
        width: 100%;
    }
  }
  
  .view-more-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    color: black;
    padding: 25px 30px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content;
    margin-top: auto;
}

.view-more-button:hover {
    background-color: #3a5a6b;
}

.view-more-button img {
    width: 16px;
    height: 16px;
}

@media only screen and (max-width: 768px) {
    .view-more-button {
        font-size: 10px;
        padding: 6px 12px;
    }

    .view-more-button img {
        width: 28px;
        height: 30px;
    }
}
