.main-navbar{
    background-color: color;
    border-style: solid;
    border-color: #4A6E82;
    border-width: 0.5px;
    font-family: poppins;
    font-weight: 600;
    width: 100%;
    height: 50px;
}

.logoCol{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6px;
    padding-left: 20px;
    float: left;
}

.optionCol{
    display:flex;
    flex-wrap: wrap;
    padding-top: 12px;
    align-items: center;
    float: right;
}

#link{
    color: #4A6E82;
    padding-right: 40px;
}


@media only screen and (max-width: 768px) {
    .main-navbar{
        height: 36px;
    }
    .optionCol{
        padding-top: 6px;
        width: 100px;
    }
    #mobile{
        display: block;
        outline: none;
        border: none;
        background-color: transparent;
        float: right;
    }
    #desktop{
        display: none;
    }
    #logo {
        height: 23px;
        width: 23px;
    }
    #desktop.show{
        display:flex;
        flex-direction: column;
        padding-right: 0px;
        padding-left: 0px;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    #mobile{
        display: none;
   }
   #desktop{
        display: block;
   }
   .logoCol{
       padding-left: 57px;
   }
   .optionCol{
        padding-right: 56px;
        
   }
}


