.nav-main{
    height: 50px;
}

.logoCol{
    padding-top: 10px;
}

.navbar-links{
    color: #4A6E82;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    padding-right: 50px;
    padding-top: 10px;
    background-color: white;
}

.navbar-light .navbar-toggler {
    border-color: transparent!important;
}

.navbar-toggler-icon {
    height: 25px;
    padding-bottom: 15px;
}


.bg-light {
    background-color: white!important;
    box-shadow: 1.5px 1.5px 6px rgba(114, 141, 149, 0.3);
}

.navbar-toggler{
    padding-top:0px;
}

button:focus{
    outline:transparent;
}

@media only screen and (max-width: 768px) {
    .nav-main.navbar.navbar-expand-lg.navbar-light.bg-light{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .navbar-toggler{
        padding-top: 5px;
        padding-left: 0px;
        padding-right: 0px;
    }
        
    .nav-main{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #logo{
        vertical-align: baseline;
        height: 27px;
        width: 27px;
    }
    
   .navbar-links{
        color: #4A6E82;
        font-weight: 600;
        font-size: 12px;
        line-height: 10px;
        padding-left: 20px;
        padding-top: 5px;
    }
}