.navsection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #e5e5e5;
    height: 10vh;
    border: 1px solid #a9a9a9;
    border-left: 0px;
    border-top: 0px;
}

.navsection a {
    color: gray;
    font-family: fat;
}

.navsection a:hover {
    text-decoration: none;
    color: black;
}