
.desktop {
    visibility: visible;
    font-size: 48px;
}

.mobile {
    display: none
}

#category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#year, #major, #date {
    letter-spacing: 0.05em;
    font-size: 32px;
}

#year {
    margin-bottom: 7px;
}

#date {
    text-align: center;
}

.card-wrapper {
    font-family: 'Poppins';
    color: #4A6E82;
    border-radius: 30px;
    max-width: 80%;
    margin: 10vh auto auto;
}

#card-img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#close-card {
    font-family: 'Poppins';
    position: absolute;
    margin: 10px 0px 0px 20px;
    color: white;
}

#close-card:hover {
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}

.story-body {
    border: 1px solid #4A6E82;
    box-shadow: 4px 4px 15px rgba(114, 141, 149, 0.15);
    border-radius: 30px;
    padding: 25px;
}

.card-story {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 17px;
}

.popup-resources {
    color: black;
    max-width: 90%;
    margin-left: 55px;
}

.tile-group {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 20px -18px;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: revert;
        padding-bottom: 5px;
    }

    .story-title {
        display: none;
    }

    .width-wrapper {
        max-width: 80%;
        margin: 5vh auto auto;
    }

    .popup-resources {
        display: none;
    }

    .card-story {
        margin: -15px 0 0 0;
    }

    #year, #major, #date {
        font-size: 14px;
        max-width: 200px;
    }

    .info {
        margin: 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-bottom: 10px;
    }

    #date {
        margin-top: -10px;
    }
}
