.img {
  display: block;
  place-items: center;
  width: 99.58vw; 
  margin-left: calc(50% - 50vw);
  height: 33vw;
  object-fit: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header0 {
  margin-bottom: 40px;
  margin-left: 10%;
  font-size: 5.5vw;
  color: transparent;
  text-align: left;
  font-family: Poppins;
  font-style: italic;
}

.header {
  margin-bottom: -5px;
  margin-left: 10%;
  font-size: 5.5vw;
  color: black;
  text-align: left;
  font-family: Poppins;
  font-style: italic;
}

.header2 {
  margin-left: 10%;
  margin-bottom: 0px;
  font-size: 1.8vw;
  width: 50%;
  color: black;
  text-align: left;
  font-family: Poppins;
  font-style: italic;
}
.header3 {
  margin-left: 10%;
  margin-bottom: -18vw;
  font-size: 1.8vw;
  width: 50%;
  color: black;
  text-align: left;
  font-family: Poppins;
  font-style: italic;
}

.logo {
  margin-right: 5vw;
  height: 0vw;
  float: right;
}

.logo2 {
  width: 28vw;
}

@media only screen and (max-width: 768px) {
  .img {
    height: 190px;
  }
  .logo2 {
    width: 23.5vw;
  }
  .header0 {
    margin-bottom: 25px;
  }
}
