.blurb {
  height: 50vh;
  color: black;
  background-color: #e5e5e5;
  display: flex;
  align-items: flex-end;
  padding-bottom: 2vh;
  border: 1px solid #a9a9a9;
  border-top: 0px;
}

.blurb p, .home .main-content .blurb h2 {
  padding: 2vh;
  padding-left: 5vh;
  padding-right: 5vh;
  font-family: skinny;
}
