.img {
  display: flex;
  align-items: center;
  place-items: center;
  width: 100vw; 
  margin-left: calc(50% - 50vw);
  height: 33vw;
  object-fit: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textCol{
  margin-left: 10%;
  text-align: left;
  width: 100%;
  color: black;
  font-family: Poppins;
  font-style: italic;
}

.header {
  font-size: 5.5vw;
  color: black;
  text-align: left;
  font-family: Poppins;
}

.header2 {
  font-size: 1.8vw;

}
.header3 {
  font-size: 1.8vw;
}

.logo {
  margin-right: 5vw;
  float: right;
}

.logo2 {
  width: 28vw;
}

@media only screen and (max-width: 768px) {
  .img {
    height: 190px;
    width: 100%;
  }
  .logo2 {
    width: 23.5vw;
  }
}
