.CategoryButton {
    background: white;
    box-shadow: 4px 4px 15px rgba(114, 141, 149, 0.3);
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 55px;
}

.CategoryButton:hover {
    text-decoration: underline;
    text-decoration-color: #728D95;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.button-text {
    color: #728D95;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0 17px;
}

@media only screen and (max-width: 768px) {
    .CategoryButton {
        border-radius: 5px;
        box-shadow: 1.5px 1.5px 6px rgba(114, 141, 149, 0.3);
        height: 31px;
    }

    .button-text {
        font-size: 14px;
        padding: 0 7px;
    }
}
