.cat-button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;

    flex-wrap: wrap;
}

.cat-button-group-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    padding: 30px 20px 0px 20px;
}

@media only screen and (max-width: 768px) {
    .cat-button-group-title {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: capitalize;

        margin-top: 12px;
    }
    .cat-button-group {
        padding: 0px 0px;
    }
}
