.title {
    display: inline-block;
    text-decoration: underline;
}

.admin-container {
    padding: 0 2%;
}

.approved-container {
    float: right;
    display: flex;
    padding-right: 4%;
}

.approved-label {
    padding-top: 3%;
}

.approved-value {
    padding-top: 3%;
    padding-right: 15%;
    padding-left: 3%;
    color: red;
}

.approval-button {
    width: 100px;
}

.approval-button-container {
    display: flex;
    gap: 3%;
}