.title {
    display: inline-block;
}

.approved-container {
    float: right;
    display: flex;
    padding-right: 3%;
    margin-top: 0.3%;
    width: 50;
}

.approved-label {
    display: inline-block;
    padding-right: 3%;
}

.approved-value {
    display: inline-block;
    color: red;
    text-align: center;
}
