.main-footer {
    background-color: #4a6e82;
    color: white;
    font-family: poppins;
    height: 180px;
    position: relative;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .main-footer {
        height: 72px;
    }
}

.column1 {
    align-items: flex-end;
    display: flex;
    float: left;
    font-size: 16px;
    height: 153px;
    padding-left: 40px;
    /* padding-left: 20px; */
}

.column5 {
    align-content: center;
    display: flex;
    /* flex-direction: column; */
    flex-direction: column;
    flex-wrap: wrap; 
    float: left;
    font-size: 22px;
    height: 180px;
    justify-content: center;
    line-height: 33px;
    padding-right: 50px;
    text-align: left;
    margin-left: 50px;
    
}
@media only screen and (max-width: 768px) {
    .column1 {
        font-size: 8px;
        height: 60px;
        padding-left: 20px;
    }
}

.inline-text, a {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    color: white;
}

a:hover {
    color: white;  
}

.inline-container {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    align-items: center;
    gap: 10px;
}

.column3 {
    align-content: center;
    display: flex;
    flex-direction: column;
    float: right;
    font-size: 22px;
    height: 180px;
    justify-content: center;
    line-height: 33px;
    padding-right: 50px;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .column3 {
        font-size: 10px;
        height: 72px;
        line-height: 14px;
        padding-right: 20px;
    }
}

.footer-links {
    color: white;
    cursor: pointer;
    padding-bottom: 6px;
}

.footer-links:hover,
.footer-links.active {
    text-decoration: underline;
    color: white;
}

.footer-links:after{
    color:white;
}

@media only screen and (max-width: 768px) {
    a:-webkit-any-link {
        padding-bottom: 14px;
    }
}
