.main-footer {
    background-color: #4a6e82;
    color: white;
    font-family: poppins;
    height: 220px;
    position: relative;
    width: 100%;

    @media only screen and (max-width: 768px) {
        height: 150px;
        display: flex;
    }
}

.phone-numbers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: left;
    font-size: 22px;
    height: 100%;
    line-height: 33px;
    justify-content: center;
    align-content: center;
    text-align: left;
    margin: auto;
    margin-left: 3.5%;

    @media only screen and (max-width: 768px) {
        flex: 5;
        flex-direction: column;
        font-size: 12px;
        line-height: 14px;
        height: 100%;
        margin: 0;
        padding: 5%;
        padding-bottom: 7%;
        justify-content: space-between;
        align-content: flex-start;
    }
}

.copyright {
    align-items: flex-end;
    display: flex;
    position: absolute;
    bottom: 7px;
    left: 50%;
    right: 50%;
    width: max-content;
    height: fit-content;
    float: left;
    font-size: 16px;
    padding: 0;

    @media only screen and (max-width: 768px) {
        font-size: 10px;
    }
}

.nav-links {
    display: flex;
    flex-direction: column;
    flex: 1;
    float: right;
    font-size: 22px;
    height: 100%;
    justify-content: center;
    align-content: center;
    text-align: left;
    line-height: 33px;
    margin: auto;
    margin-right: 3.5%;

    @media only screen and (max-width: 768px) {
        flex: 1;
        font-size: 12px;
        height: 100%;
        line-height: 14px;
        padding: 5%;
        padding-bottom: 7%;
        justify-content: space-between;
    }
}

.inline-text-footer,
a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
}

a:hover {
    color: white;
}

.inline-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

    @media only screen and (max-width: 768px) {
        flex-direction: row;
        width: 100%;
        gap: 5px;
        align-items: flex-start;
    }
}

.footer-links {
    color: white;
    cursor: pointer;
    width: max-content;
    padding-bottom: 6px;
    margin-left: auto;

    @media only screen and (max-width: 768px) {
        padding: 0;
    }
}

.footer-links:hover,
.footer-links.active {
    text-decoration: underline;
    color: white;
}

.footer-links:after {
    color: white;
}
