.form-container {
    width: 100%;
    height: 500px;
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 768px) {
  .banner-img {
    height: 190px;
  }
}

#dropdown-optional {
    padding: 3px;
    padding-left: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    width: 100%;
    color: #bfbfbf;
    border-color: white;
    /* margin: 10% 0px 0px 0px; */
    
    margin: 0px 0px 7% 0px;
    
  
    background: white!important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  
    /* border-right: 15px solid transparent;
    border-left: 0px solid transparent;
    border-top: 0px solid transparent; */

    border: .5px solid rgba(0, 0, 0, 0.25);
  
    text-overflow: ellipsis;


  }

  #options {
    padding: 3px;
    padding-left: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    width: 100%;
    color: #534D49;
    border-color: white;
    
  
    background: white!important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  
    /* border-right: 15px solid transparent;
    border-left: 0px solid transparent;
    border-top: 0px solid transparent; */

    border: .5px solid rgba(0, 0, 0, 0.25);
  
    text-overflow: ellipsis;


  }