#app {
    background-color: #f1f1f1;
    min-height: 100vh;
}

#page {
    background-color: #f9f9f9;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    min-height: calc(100vh - 180px);
    position: relative;
}

@media only screen and (max-width: 768px) {
    #page {
        min-height: calc(100vh - 72px);
    }
}
