.tile-link:hover{
    text-decoration: none;
}

.tile:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

  .fade-out-container {
    position: relative;
    display: inline-block;
  }
  
  .fade-out-container::after {
    content: "";
    position: absolute;
    bottom: 9%;
    right: 15%;
    width: 50%; 
    height: 1.5em; 
    background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    /* background-image: linear-gradient(to left, rgb(255, 0, 0), rgb(0, 0, 0)); */
    pointer-events: none; /* Allows the user to select text behind the gradient */
  }

  @media screen and (max-width: 770px) {
    .fade-out-container::after {
        /* background-image: linear-gradient(to left, rgb(255, 0, 0), rgb(0, 0, 0)); */
        height: 1.3em; 
        bottom: 0%;
        right: 0%;
        width: 100%;
    }
  }
  