#app {
    background-color: #F1F1F1;
    min-height: 100vh;
}

#page {
    background-color: #F9F9F9;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    min-height: calc(100vh - 180px);
    position: relative;
    margin-top: 4px;
}

