#app {
    background-color: #F1F1F1;
    min-height: 100vh;
}

#page {
    background-color: #F9F9F9;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    min-height: calc(100vh - 180px);
    position: relative;
}

@media only screen and (max-width: 768px) {
    #page {
        min-height: calc(100vh - 72px);
    }
}
